<!DOCTYPE html>
<html lang="en">
   <head>
      <title>IstheMBTADown</title>
      <!-- 
         Test page for IT428
         Filename: about.html

         Author:  GROUP 2 
         Date:     2/6/24
         LAST EDITED: 3/5/22
      -->
      
     
     
      <!--THIS HTML page is for the index or "homepage" page-->
      
      
      
            
      <meta charset="utf-8">
     
  <!--HEAD CONTENT -->
   <meta charset="UTF-8">
   <title>IstheMBTADown?</title>
   <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
 <link rel="stylesheet" href="/static/style.css">
 </head>

 
   <!--Navigation Page-->
   <input id="page-nav-toggle" class="main-navigation-toggle" type="checkbox" />
   <label for="page-nav-toggle">
     <svg class="icon--menu-toggle" viewBox="0 0 60 30">
       <g class="icon-group">
         <g class="icon--menu">
           <path d="M 6 0 L 54 0" />
           <path d="M 6 15 L 54 15" />
           <path d="M 6 30 L 54 30" />
         </g>
         <g class="icon--close">
           <path d="M 15 0 L 45 30" />
           <path d="M 15 30 L 45 0" />
         </g>
       </g>
     </svg>
   </label>
   
   <nav class="main-navigation">
    <ul>
      <li><a href="{{ url_for('home')}}">Homepage</a></li>
      <li><a href="{{ url_for('lines')}}">Lines</a></li>
      <li><a href="{{ url_for('profile', username=current_user.username) }}">Profile</a></li> <!-- Add username parameter -->
      <li><a href="{{ url_for('contact')}}">Contact</a></li>
      <li><a href="{{ url_for('about')}}">About</a></li>
    </ul>
  </nav>
   
   
<!--HEADER CONTENT-->
     <!--Body-->
      <body>
         <div class="header-nav-container">
            <header>
               <div>
                <a href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='images/image.png') }}
                  " alt="MBTA DOWN logo with Title that says MBTA DOWN" width="540" height="240" ></a>       
               </div>
            </header>
            
<!--MAIN CONTENT-->
           
<nav class="sitenavigation">
   <ul>
       <h2>Welcome to the Homepage! Please select the line that you would like to get on!</h2>
       <ul>
        <h3><a href="{{ url_for('redline')}}"class="redline">REDLINE</a></h2>
        <h3><a href="{{ url_for('blueline')}}"class="blueline">BLUELINE</a></h2>
        <h3><a href="{{ url_for('greenline')}}"class="greenline">GREENLINE</a></h2>
        <h3><a href="{{ url_for('orangeline')}}"class="orangeline">ORANGELINE</a></h2>

    </ul>
       <a class="twitter-timeline" href="https://twitter.com/MBTA?ref_src=twsrc%5Etfw">Tweets by MBTA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   </ul>
</nav>
</div>