<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>IstheMBTADown?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <a href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='images/image.png') }}" alt="MBTA DOWN logo with Title that says MBTA DOWN" width="540" height="240" ></a>       
    <h1>Hello {{ user.first_name }}!</h1>
    <h2>Welcome to your Profile Page</h2>
    <h1>Welcome, {{ user.username }}!</h1>
    <!-- logout button -->
    <form action="{{ url_for('logout') }}" method="post">
        <input type="submit" value="Logout">
    </form>
    <h2>Favorites</h2>
   <div class="container_favorites">


   </div>
</body>
<!-- hamburger menu -->
<input id="page-nav-toggle" class="main-navigation-toggle" type="checkbox" />
<label for="page-nav-toggle">
  <svg class="icon--menu-toggle" viewBox="0 0 60 30">
    <g class="icon-group">
      <g class="icon--menu">
        <path d="M 6 0 L 54 0" />
        <path d="M 6 15 L 54 15" />
        <path d="M 6 30 L 54 30" />
      </g>
      <g class="icon--close">
        <path d="M 15 0 L 45 30" />
        <path d="M 15 30 L 45 0" />
      </g>
    </g>
  </svg>
</label>

<nav class="main-navigation">
  <ul>
    <li><a href="{{ url_for('home')}}">Homepage</a></li>
    <li><a href="{{ url_for('lines')}}">Lines</a></li>
    <li><a href="{{ url_for('profile', username=current_user.username) }}">Profile</a></li> <!-- Add username parameter -->
    <li><a href="{{ url_for('contact')}}">Contact</a></li>
    <li><a href="{{ url_for('about')}}">About</a></li>
  </ul>
</nav>
